* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Comic Neue', cursive;
  background: #4b0078;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 400px;
  width: 600px;
  background-color: white;
  box-shadow: 0 0 30px 20px;
  border-radius: 10px;
}

#question__container {
  margin-top: 50px;
  height: 150px;
  width: 600px;
}

#question {
  margin-bottom: 50px;
  font-size: 25px;
}

#answers__container {
  padding: 30px;
}

button {
  padding: 25px;
  margin: 10px;
  width: 200px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #f7ebf7;
}

button:hover {
  background-color: #d6c9d6;
  box-shadow: 0 0 10px 2px;
}

button.correct {
  background-color: #0fba37;
  color: #ffffff;
}

button.wrong {
  background-color: #ed0000;
  color: #ffffff;
}

.navigation {
  padding: 50px;
}

.start__btn {
  height: 100px;
  width: 300px;
  font-size: 30px;
}

.start__btn:hover {
  color: #ffffff;
}

.hide {
  display: none;
}

.rights {
  position: static;
  margin-top: 70px;
  color: #eeeeee7e;
  text-align: center;
  width: auto;
  height: 50px;
  background-color: #4b0078;
}

.rights p {
  font-size: 12px;
}
