* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Comic Neue', cursive;
  background: #4b0078;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: white;
  box-shadow: 0 0 30px 20px;
  border-radius: 10px;
}

button {
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #f7ebf7;
}

button:hover {
  background-color: #d6c9d6;
  box-shadow: 0 0 10px 2px;
}

button.correct {
  background-color: #0fba37;
  color: #ffffff;
}

button.wrong {
  background-color: #ed0000;
  color: #ffffff;
}

.start__btn:hover {
  color: #ffffff;
}

.hide {
  display: none;
}

.rights {
  position: static;
  color: #eeeeee7e;
  text-align: center;
  background-color: #4b0078;
}
